@import "tailwindcss";

@theme {
  --font-lexend: var(--font-lexend), ui-sans-serif, system-ui;

  --color-surface: #fcf8fa;
  --color-surface-dim: #dcd9db;
  --color-surface-bright: #fcf8fa;
  --color-surface-container-lowest: #ffffff;
  --color-surface-container-low: #f6f3f5;
  --color-surface-container: #f0edef;
  --color-surface-container-high: #eae7e9;
  --color-surface-container-highest: #e4e2e4;
  --color-on-surface: #1b1b1d;
  --color-on-surface-variant: #45464d;
  --color-outline: #76777d;
  --color-outline-variant: #c6c6cd;

  --color-primary: #000000;
  --color-on-primary: #ffffff;
  --color-primary-container: #131b2e;
  --color-on-primary-container: #7c839b;

  --color-accent: #00BAFF;
  --color-success: #10B981;

  --spacing-unit: 4px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-margin: 20px;
  --spacing-gutter: 12px;

  --radius-sm: 0.25rem;
  --radius-DEFAULT: 0.5rem;
  --radius-md: 0.75rem;
  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-lexend antialiased;
  }
}

@layer components {
  .glass-card {
    @apply bg-white/70 backdrop-blur-md border border-outline-variant/80 shadow-sm;
  }
}
